<a href="https://colab.research.google.com/github/SinhaAmrit/Round-Table-AI/blob/feat-auth-backend/database_tables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Libraries

In [1]:
import psycopg2
from psycopg2 import sql
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT

# Initializing Database Parameters/Credentials

In [2]:
db_params = {
    'user': 'postgres',
    'password': 'JHc0oWLiV2vcwsuu',
    'host': 'db.oufxvnabgnyidiwwiviq.supabase.co',
    'port': '5432',
    'database': 'postgres',
}

# Establishing Connection with the Database

In [3]:
# Function to create tables
conn = psycopg2.connect(**db_params)
conn.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT)
cursor = conn.cursor()

# Checking Existing Tables

In [4]:
cursor.execute("SELECT table_name FROM information_schema.tables WHERE table_schema = 'public';")

# Fetch all the rows
tables = cursor.fetchall()

# Print the list of tables
print("Tables in the public schema:")
for table in tables:
    print(table[0])

Tables in the public schema:
categories
conn_accounts
users
notifications
discussions
replies
history
discuss_replies
discuss_categories

# Creating table Categories

In [5]:
cursor.execute('''
    CREATE TABLE IF NOT EXISTS categories (
        id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
        title VARCHAR(255) NOT NULL,
        created_at TIMESTAMP
    );
''')

# Creating table Connected Accounts

In [6]:
# Create 'connected_accs' table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS conn_accounts (
        id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
        github VARCHAR(50),
        stackoverflow VARCHAR(50),
        linkedIn VARCHAR(50),
        facebook VARCHAR(50),
        twitter VARCHAR(50),
        slak VARCHAR(50)
    );
''')

# Creating table Users

In [7]:
cursor.execute('''
    CREATE TABLE IF NOT EXISTS users (
        id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
        username VARCHAR(20) NOT NULL,
        password VARCHAR(255) NOT NULL,
        F_name VARCHAR(16),
        L_name VARCHAR(16),
        email VARCHAR(50) NOT NULL,
        created_at TIMESTAMP,
        secret_key VARCHAR(125),
        country VARCHAR(25),
        role VARCHAR(25),
        email_varified_at TIMESTAMP,
        update_at TIMESTAMP,
        conneted_accounts UUID REFERENCES conn_accounts(id),
        mob VARCHAR(10),
        status VARCHAR(16),
        last_seen TIMESTAMP,
        score INT,
        report INT
    );
''')

# Creating table Notifications

In [8]:
cursor.execute('''
    CREATE TABLE IF NOT EXISTS notifications (
        id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
        user_id UUID REFERENCES users(id),
        type VARCHAR(50),
        data TEXT,
        created_at TIMESTAMP,
        read_at TIMESTAMP
    );
''')

# Creating table Discussions

In [9]:
cursor.execute('''
    CREATE TABLE IF NOT EXISTS discussions (
        id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
        title VARCHAR(255) NOT NULL,
        description TEXT,
        user_id UUID REFERENCES users(id),
        created_at TIMESTAMP,
        deleted_at TIMESTAMP,
        slug VARCHAR(50),
        summery TEXT,
        archived BOOLEAN
    );
''')

# Creating table Replies

In [10]:
cursor.execute('''
    CREATE TABLE IF NOT EXISTS replies (
        id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
        user_id UUID REFERENCES users(id),
        discussion_id UUID REFERENCES discussions(id),
        content TEXT,
        created_at TIMESTAMP,
        deleted_at TIMESTAMP
    );
''')

# Creating table History

In [11]:
cursor.execute('''
    CREATE TABLE IF NOT EXISTS history (
        id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
        user_id UUID REFERENCES users(id),
        discussion_id UUID REFERENCES discussions(id),
        is_liked BOOLEAN,
        reply_id UUID REFERENCES replies(id),
        visited_at TIMESTAMP,
        deleted_at TIMESTAMP
    );
''')

# Creating table Discussion - Replies

In [12]:
cursor.execute('''
    CREATE TABLE IF NOT EXISTS discuss_replies (
        id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
        discussion_id UUID REFERENCES discussions(id),
        reply_id UUID REFERENCES replies(id)
    );
''')

# Creating table Discussion - Categories

In [13]:
cursor.execute('''
    CREATE TABLE IF NOT EXISTS discuss_categories (
        id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
        discussion_id UUID REFERENCES discussions(id),
        category_id UUID REFERENCES categories(id)
    );
''')

# Commiting Changes into Database

In [14]:
# Commit the changes and close the connection
conn.commit()

# Close the Connection with Database

In [15]:
cursor.close()
conn.close()